@page
@model NDDC_IACS_Audit.Pages.AuditControl.AuditModel
@{
}
<div class="row">
    <div class="col-lg-12">
        <div class="card border-0">
            <div class="card-body">
                <div id="table-search">
                    <div role="complementary" class="gridjs gridjs-container" style="width: 100%;">
                        <div class="gridjs-head pb-5">
                            <div class="row g-2">
                                <div class="col-sm-4">
                                    <div class="search-box">
                                        <input type="text" class="form-control" id="searchMemberList" placeholder="Search Audit Control...">
                                        <i class="ri-search-line search-icon"></i>
                                    </div>
                                </div>
                                <!--end col-->
                                <div class="col-sm-auto ms-auto">
                                    <div class="list-grid-nav hstack gap-1">
                                        <a href="/AuditControl/AddAudit" class="btn btn-success"><i class="ri-add-fill me-1 align-bottom"></i> Add Item</a>
                                    </div>
                                </div>
                                <!--end col-->
                            </div>
                        </div>
                        <div class="gridjs-wrapper" style="height: auto;">
                            <table role="grid" class="gridjs-table" style="height: auto;">
                                <thead class="gridjs-thead">
                                    <tr class="gridjs-tr">
                                        <th data-column-id="name" class="gridjs-th" style="width: 150px;">
                                            <div class="gridjs-th-content">S/N</div>
                                        </th>
                                        <th data-column-id="email" class="gridjs-th" style="width: 250px;">
                                            <div class="gridjs-th-content">Title</div>
                                        </th>
                                        <th data-column-id="position" class="gridjs-th" style="width: 250px;">
                                            <div class="gridjs-th-content">Originator</div>
                                        </th>
                                        <th data-column-id="company" class="gridjs-th" style="width: 250px;">
                                            <div class="gridjs-th-content">Originator Name</div>
                                        </th>blob:https://teams.microsoft.com/8403afef-5220-4b64-9c0a-4a1560fb6003
                                        <th data-column-id="country" class="gridjs-th" style="width: 150px;">
                                            <div class="gridjs-th-content">Date</div>
                                        </th>
                                        <th data-column-id="country" class="gridjs-th" style="width: 150px;">
                                            <div class="gridjs-th-content">Action</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="gridjs-tbody">
                                    <tr class="gridjs-tr">
                                        <td data-column-id="name" class="gridjs-td">1</td>
                                        <td data-column-id="email" class="gridjs-td">jonathan@example.com</td>
                                        <td data-column-id="position" class="gridjs-td">Senior Implementation Architect</td>
                                        <td data-column-id="company" class="gridjs-td">Hauck Inc</td>
                                        <td data-column-id="country" class="gridjs-td">Holy See</td>
                                        <td class="d-flex gridjs-td">
                                            <a class="fs-4  pt-0 p-2  text-success btn text-center" href="/AuditControl/ControlDetails">
                                                <i class='bx bxs-message-square-edit'></i>
                                            </a>
                                            <a class="fs-4 pt-0 text-danger btn text-center" href="/AuditControl/DeleteAudit">
                                                <i class='bx bxs-trash-alt'></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class="gridjs-tr">
                                        <td data-column-id="name" class="gridjs-td">2</td>
                                        <td data-column-id="email" class="gridjs-td">harold@example.com</td>
                                        <td data-column-id="position" class="gridjs-td">Forward Creative Coordinator</td>
                                        <td data-column-id="company" class="gridjs-td">Metz Inc</td>
                                        <td data-column-id="country" class="gridjs-td">Iran</td>
                                        <td class="d-flex gridjs-td">
                                            <a class="fs-4  pt-0 p-2  text-success btn text-center" href="/AuditControl/ControlDetails">
                                                <i class='bx bxs-message-square-edit'></i>
                                            </a>
                                            <a class="fs-4 pt-0 text-danger btn text-center" href="/AuditControl/DeleteAudit">
                                                <i class='bx bxs-trash-alt'></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class="gridjs-tr">
                                        <td data-column-id="name" class="gridjs-td">3</td>
                                        <td data-column-id="email" class="gridjs-td">shannon@example.com</td>
                                        <td data-column-id="position" class="gridjs-td">Legacy Functionality Associate</td>
                                        <td data-column-id="company" class="gridjs-td">Zemlak Group</td>
                                        <td data-column-id="country" class="gridjs-td">South Georgia</td>
                                        <td class="d-flex gridjs-td">
                                            <a class="fs-4  pt-0 p-2  text-success btn text-center" href="/AuditControl/ControlDetails">
                                                <i class='bx bxs-message-square-edit'></i>
                                            </a>
                                            <a class="fs-4 pt-0 text-danger btn text-center" href="/AuditControl/DeleteAudit">
                                                <i class='bx bxs-trash-alt'></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class="gridjs-tr">
                                        <td data-column-id="name" class="gridjs-td">4</td>
                                        <td data-column-id="email" class="gridjs-td">robert@example.com</td>
                                        <td data-column-id="position" class="gridjs-td">Product Accounts Technician</td
                                        ><td data-column-id="company" class="gridjs-td">Hoeger</td>
                                        <td data-column-id="country" class="gridjs-td">San Marino</td>
                                        <td class="d-flex gridjs-td">
                                            <a class="fs-4  pt-0 p-2  text-success btn text-center" href="/AuditControl/ControlDetails">
                                                <i class='bx bxs-message-square-edit'></i>
                                            </a>
                                            <a class="fs-4 pt-0 text-danger btn text-center" href="/AuditControl/DeleteAudit">
                                                <i class='bx bxs-trash-alt'></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class="gridjs-tr">
                                        <td data-column-id="name" class="gridjs-td">5</td>
                                        <td data-column-id="email" class="gridjs-td">noel@example.com</td>
                                        <td data-column-id="position" class="gridjs-td">Customer Data Director</td>
                                        <td data-column-id="company" class="gridjs-td">Howell - Rippin</td>
                                        <td data-column-id="country" class="gridjs-td">Germany</td>
                                        <td class="d-flex gridjs-td">
                                            <a class="fs-4  pt-0 p-2  text-success btn text-center" href="/AuditControl/ControlDetails">
                                                <i class='bx bxs-message-square-edit'></i>
                                            </a>
                                            <a class="fs-4 pt-0 text-danger btn text-center" href="/AuditControl/DeleteAudit">
                                                <i class='bx bxs-trash-alt'></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="gridjs-temp" class="gridjs-temp"></div>
                    </div>
                </div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
    <!-- end col -->
</div>